table(style="border-top: 2px solid #000; border-bottom: 1px solid #ccc; padding: 4px 0; width: 100%; font-size: 11px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
  tbody
    tr
      td(style="width: 156px;")
        a(href="http://studybreakapp.com/")
          img(src="http://www.creativelicencedigital.com/images/signature/sb-feature-2012.png", border="0", alt="Download StudyBreak", style="width: 150px; height: 76px; border: 0;")
      td
        div(style="margin: 0 0 2px;")
          a(href="http://studybreakapp.com/", style="color: #000; font-size: 15px; text-decoration: none;")
            strong StudyBreak
            | for iPhone
            sup &reg;
        div(style="margin: 0 0 4px;")
          a(href="http://studybreakapp.com/", style="color: #444; font-size: 11px; text-decoration: none;")
            | App Store Best of 2012 - iPhone
            sup &reg;
            | - Discover with Friends
        div(style="margin: 0;")
          a(href="http://studybreakapp.com/", style="color: #000; font-size: 13px; text-decoration: none;")
            | Discover how we helped students spend more time with their friends with our app StudyBreak
div
  img(src="http://www.creativelicencedigital.com/images/signature/awards.png",
      alt="Award winning application development",
      style="border: 0; max-width: 100%; width: 560px; height: 32px; background: #eee;")